body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #65C2E1;
    color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.header {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.header h1 {
    font-weight: 400; 
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subjects {
    width: auto;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background: rgba(0, 21, 255, .5);
}

.subjects__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 70px;
    margin: 10px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 10px;
    padding: 0 10px;
}

.subjects__item label {
    flex-grow: 1;
    padding: 20px 0px;
}

.subjects__item:hover {
    border-color: white;
    background: rgba(0, 21, 255, .5);
    transition: 0.3s;
}

.subjects__item label:hover {
    cursor: pointer;
}

.points-input {
    width: 70px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    background: transparent;
    color: white;
    margin-left: 5px;
    font-size: 15px;
}

.subjects__item:hover .points-input {
    /* border-color: rgba(255, 255, 255, 0.7); */
    border-color: white;
}

.subjects__item input:focus {
    background: white;
    border: transparent;
    outline: transparent;
    color: black;
}


.subjects__submit {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    width: 180px;
    height: 45px;
    outline: none;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    justify-content: center;
    color: white;
    background: rgba(0, 21, 255, .6);
    transition:  0.3s;
    font-size: 15px;
}

.subjects__submit:hover {
    background: white;
    color: black;
    -webkit-box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, .6);
    -moz-box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, .6);
    box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, .6);
}

.subjects__submit:focus {
    -webkit-box-shadow: 1px 4px 20px -8px rgba(0,0,0,1);
    -moz-box-shadow: 1px 4px 20px -8px rgba(0,0,0,1);
    box-shadow: 1px 4px 20px -8px rgba(0,0,0,1);
}

.directionWindow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.availableDirections {    
    width: auto;
    margin-top: 20px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background: rgba(0, 21, 255, .5);
}

.directionItem {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px;
    height: auto;
    padding: 10px 0;
    background: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}

