body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #65C2E1;
    color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.header {
    margin-bottom: 50px;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.header h1 {
    font-weight: 400; 
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subjects {
    width: auto;
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background: rgba(0, 21, 255, .5);
}

.subjects__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 70px;
    margin: 10px;
    border: 2px solid;
    border-color: transparent;
    border-radius: 10px;
    padding: 0 10px;
}

.subjects__item label {
    flex-grow: 1;
    padding: 20px 0px;
}

.subjects__item:hover {
    border-color: white;
    background: rgba(0, 21, 255, .5);
    transition: 0.3s;
}

.subjects__item label:hover {
    cursor: pointer;
}

.points-input {
    width: 70px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    background: transparent;
    color: white;
    margin-left: 5px;
    font-size: 15px;
}

.subjects__item:hover .points-input {
    /* border-color: rgba(255, 255, 255, 0.7); */
    border-color: white;
}

.subjects__item input:focus {
    background: white;
    border: transparent;
    outline: transparent;
    color: black;
}


.subjects__submit {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    width: 180px;
    height: 45px;
    outline: none;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    justify-content: center;
    color: white;
    font-weight: bold;
    background: rgba(0, 21, 255, .6);
    transition:  0.3s;
    font-size: 15px;
}


.subjects__submit:hover {
    background: white;
    color: black;
    -webkit-box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, .6);
    -moz-box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, .6);
    box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, .6);
}

.subjects__submit:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.directionWindow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.availableDirections {    
    width: auto;
    padding: 20px 40px;
    margin-top: 20px;
    max-width: 50%;
    min-width: 350px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background: rgba(0, 21, 255, .5);
}

.directionItem {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px;
    height: auto;
    padding: 10px;
    background: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}

.pointsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pointsNeeded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid rgba(0, 21, 255, 1);
    border-radius: 50%;
    /* opacity: 0.5; */
    text-align: center;
    color: black;
    background-color: white;
    position: relative;
    font-weight: bold;
    transition: 0.2s;
    flex-shrink: 0;
}

.pointsCurrent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 2px solid rgba(0, 128, 28, 1);;
    border-radius: 50%;
    /* opacity: 0.5; */
    text-align: center;
    color: black;
    background-color: white;
    position: relative;
    font-weight: bold;
    transition: 0.2s;
    flex-shrink: 0;
}

.pointsNeeded:hover {
    /* opacity: 1; */
    color: white;
    background-color: rgba(0, 21, 255, 1);
}

.pointsNeeded .tooltip {
    visibility: hidden;
    font-weight: normal;
    width: 200px;
    font-size: 13px;
    background-color: white;
    color: #000;
    text-align: center;
    border: 1px solid rgba(0, 21, 255, .5);
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    left: 50px;
    top: -50px;
    z-index: 1;

}

.pointsNeeded:hover .tooltip {
    visibility: visible;
}
.pointsCurrent:hover {
    /* opacity: 1; */
    color: white;
    background-color: rgba(0, 128, 28, 1);;
}

.pointsCurrent .tooltip {
    visibility: hidden;
    font-weight: normal;
    width: 200px;
    font-size: 13px;
    background-color: white;
    color: #000;
    text-align: center;
    border: 1px solid rgba(0, 21, 255, .5);
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    left: 50px;
    top: -50px;
    z-index: 1;

}

.pointsCurrent:hover .tooltip {
    visibility: visible;
}

.dormContainer {
    position: relative;
}


.dormContainer .tooltip {
    visibility: hidden;
    font-weight: normal;
    width: 200px;
    font-size: 13px;
    background-color: white;
    color: #000;
    text-align: center;
    border: 1px solid rgba(0, 21, 255, .5);
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    left: 25px;
    top: -25px;
    z-index: 1;

}

.dormContainer:hover .tooltip {
    visibility: visible;
}


.svg-home {
    margin-top: 10px;
}

.extramuralContainer {
    margin-left: 10px;
    position: relative;
}

.svg-ext {
    margin-top: 10px;
}

.extramuralContainer .tooltip {
    visibility: hidden;
    font-weight: normal;
    width: 200px;
    font-size: 13px;
    background-color: white;
    color: #000;
    text-align: center;
    border: 1px solid rgba(0, 21, 255, .5);
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    left: 35px;
    top: -35px;
    z-index: 1;

}

.extramuralContainer:hover .tooltip {
    visibility: visible;
}

.entranceContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    min-height: 70px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    margin: 5px;
    /* margin-left: 15px; */
    margin-bottom: 15px;
    flex-shrink: 0;
    transition: 0.2s ease-in-out;
}

.entranceContainer__warningLogo {
    /* border: 1px solid black; */
    margin-right: 10px;
    margin-left: 5px;
}

.entranceContainer__text {
    /* border: 1px solid blue; */
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

/* .warningPath {
    fill: red;
} */

.warningPath {
    transition: 0.2s ease-in-out;
}

/* .entranceContainer:hover .warningPath {
    fill:red;
    /* transition: 0.3s ease-in-out; */
/* } */

.entranceContainer:hover {
    border-color: red;
}

.directionSortWindow {
    width: auto;
    max-width: 20%;
    min-width: 200px;
    /* max-width: 30%; */
    padding: 20px 40px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    background: rgba(0, 21, 255, .5);
}

.sortMark {
    width: 100%;
    justify-self: center;
    height: 1px;
    border-bottom: 2px solid white;
    margin: 5px 0;
}

.sort {
    display: flex;
    flex-direction: column;
}

.noResults {
    width: 90%;
    background: transparent;
}

.noResults p {
    color: white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}